.general-setting-container p {
  margin-bottom: 0.8rem;
}

:host ::ng-deep {
  .mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.14);
  }
  .mat-form-field-infix {
    width: 220px;
    font-size: 13px; // space remover
  }
}
.invalid-countrycode{
font-size:12px;
}
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
