<div class="row">
    <!-- <div class="col-12 mt-3"><small class="text-muted">NOW :</small> 
            <span class="font-weight-bold set-time text-uppercase">
                    {{displayDate | date:'h:mm a' : timezone}}
                </span> {{displayDate | date:'MMM' : timezone}} {{displayDate | date:'dd' : timezone}},
                <span class="text-uppercase">{{displayDate | date:'EEEE' : timezone}} </span>
    </div> -->
    <div class="col-6" [ngClass]="{'text-right': container == 'dialog'}">
        <mat-form-field class="hidden-date-form">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [value]="date.value" (dateInput)="addEvent($event)">
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="date-display cursor-pointer" (click)="picker.open()">
            <h4 class="text-uppercase text-muted mb-0">
                {{(todayDate| date : 'MMM d y')==(date.value | date : 'MMM d y')?'Today':date.value | date : 'EEEE'}}</h4>

            <h1 class="font-weight-normal text-Capitalize display-5">
                <span>{{date.value | date : 'd MMM'}}</span>
            </h1>
        </div>
    </div>
    <div class="col-6 pt-4 mt-2">
        <span class="cursor-pointer mr-1" (click)="setManualDate(-1)">
            <i class="material-icons md-48 text-muted">
                arrow_back
            </i>
        </span>
        <span class="cursor-pointer" (click)="setManualDate(1)">
            <i class="material-icons md-48 text-muted">
                arrow_forward
            </i>
        </span>
    </div>
</div>