<div>
        <form name="form" (ngSubmit)="f.form.valid && validPassword && updateUser(userDetail.id)" #f="ngForm" novalidate>
            <h6 mat-dialog-title class="dialog-header text-center pb-4 font-weight-bold">
                {{data.userData==null? 'ADD USER' : 'EDIT USER'}}
    
                <i class="material-icons pull-right close cursor-pointer" (click)="onNoClick()">
                    clear
                </i>
            </h6>
    
            <!-- <div class="display-name d-flex align-items-center justify-content-center lg mx-auto my-5">
                <p class="m-0 font-weight-normal">AB</p>
            </div> -->
    
            <div class="row text-center my-5">
                <div class="col-md-4">
                    <div class="form-group d-inline-block text-left">
                        <mat-form-field [ngClass]="{'mat-form-field-invalid' : matCustomError}">
                            <input (focus)="usernameValid=true;matCustomError=null" matInput autocomplete="off" #username="ngModel" maxlength="100" [trimSpace]
                                [readonly]="userEditMode" minlength="2" name="user-name" placeholder="Username" [(ngModel)]="userDetail.userName"
                                required>
                            <mat-error>Please enter a Username.</mat-error>
                        </mat-form-field>
                        <mat-custom-error *ngIf="!usernameValid" [field]="'UserName'" [(matCustomError)]="matCustomError" [errorData]="errorMessages"></mat-custom-error>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- <mat-form-field>
                        <input matInput autocomplete="off" maxlength="50" placeholder="Password" name="password" type="password" [(ngModel)]="userDetail.password"
                            required>
                        <mat-error>Please enter a valid Password.</mat-error>
                    </mat-form-field> -->
                    <mat-form-field [color]="passwordStrengthColor">
                        <input matInput (focus)="showPasswordStrength = true" (blur)="showPasswordStrength = false" autocomplete="off" #password="ngModel" maxlength="50"
                            placeholder="Password" name="password" type="password" [(ngModel)]="userDetail.password" required>
                        <mat-error>Please enter a valid Password.</mat-error>
                    </mat-form-field>
                    <div class="password-strength-cntr">
                        <mat-password-strength #passwordComponent [enableUpperCaseLetterRule]="false" (onStrengthChanged)="onStrengthChanged($event)"
                            [password]="password.value">
                        </mat-password-strength>
                        <mat-password-strength-info *ngIf="showPasswordStrength" [passwordComponent]="passwordComponent">
                        </mat-password-strength-info>
                    </div>
                    <div *ngIf="f.submitted && userDetail.password && !validPassword" class="help-block text-left">Please enter a valid Password.</div>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput autocomplete="off" maxlength="100" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" placeholder="Email"
                            name="email" [email]="userDetail.email != null && userDetail.email != ''" [(ngModel)]="userDetail.email">
                        <mat-error>Please enter a valid Email</mat-error>
                    </mat-form-field>
                </div>
            </div>
    
            <div class="text-center dialog-footer">
                <button class="btn btn-primary btn-lg">
                    <small>DONE</small>
                </button>
            </div>
    
        </form>
    </div>