.overlay {
  position: fixed;
  width: 300px;
  // height: calc(100vh - 60px);
  top: 55px;
  left: -300px;
  right: 0;
  bottom: 0;
  background-color: #f1f3f5;
  z-index: 12;
  cursor: pointer;
  box-shadow: 5px 0 8px rgba(96, 125, 139, 0.15);
  transition: all 0.3s ease-in-out;
  &.notesPanelOpen {
    left: 60px;
  }
}
.notesContainer {
  height: calc(100vh - 190px);
  overflow-x: hidden;
  overflow-y: auto;
}
.msgContainer {
  position: fixed;
  bottom: 0px;
  width: 300px;
  // left: 62px
}
.notesMsgBox {
  border-radius: 0px 10px 10px 10px;
  background: white;
  box-shadow: 0 0 2px rgba(96, 125, 139, 0.15);
}
.displayName {
  border-radius: 50%;
  background: white;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  height: 40px;
  padding: 8px 0;
  text-align: center;
}

.displayNameContainer {
  top: -36px;
  left: -12px;
}

.scrollable-content {
  height: calc(100vh - 200px);
}
