// base variables
$body-bg: #f1f3f5;
$gray-dark: #263238;
$gray: #607d8b;
$gray-light: #b0bec5;
$gray-lighter: #eaeef1;
$gray-lightest: #eceff1;

$brand-primary: #4c7acf;
$brand-secondary: #08b0d5;
$brand-success: #4dbd74;
$brand-info: #63c2de;
$brand-warning: #f8cb00;
$brand-danger: #f86c6b;
$brand-dark: #161225;

// Variables for different modules

$brand-tables: #2dd1a1;
$brand-staff: #6a7cff;
$brand-waitlist: #eab46c;
$brand-reservation: #6a7cff;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif !default;

$navbar-height: 60px;
$inline-header-height: 70px;
$sidebar-minimized-width: 60px;
$clock-display-width: 100px;
$footer-height: 52px;
$btn-container: 50px;

$dialog-header: 60px;
$dialog-footer: 70px;
$dialog-action-footer: 135px;
$waitlist-header: 150px;
$reservation-header: 85px;
$waitlist-filtertabs-cntr: 85px;

$aside-menu-width: 340px;
